body {
    background-color: black;
    color: cyan;
}

<<<<<<< HEAD

img {
    width: 50%;
    height: auto;
}
=======
img {
    width: 50%;
    height: auto;
}
>>>>>>> 8bfc7d56b254b7ea51d44caee56ed2c263eb3706
