body {
    background-color: black;
    color: lime;
}

button {
    background-color: black;
    color: lime;
}

textarea {
    background-color: black;
    color: lime;
}

input {
    background-color: black;
    color: lime;
}